<nav class="menu new-menu">
  <ol>
    <li class="menu-item"><%= link_to 'Pecunia', root_path%></li>
    
    <li class="menu-item">
      <a href=""><%= t 'menu.note.note' %></a>
      <ol class="sub-menu">
        <% if user_signed_in? && current_user.role == 'admin' %>
            <li class="menu-item"><%= link_to t('menu.note.add_note'), notes_path, class:"nav-link" %></li>
            <li class="menu-item"><a href="#0">Bigger Widgets</a></li>
            <li class="menu-item"><a href="#0">Huge Widgets</a></li>
        <% end %>
      </ol>
    </li>
    <li class="menu-item">
      <a href="#0">Kabobs</a>
      <ol class="sub-menu">
        <li class="menu-item"><a href="#0">Shishkabobs</a></li>
        <li class="menu-item"><a href="#0">BBQ kabobs</a></li>
        <li class="menu-item"><a href="#0">Summer kabobs</a></li>
      </ol>
    </li>
    <li class="menu-item"><a href="#0">Contact</a></li>
    <li class="menu-item"><a href="#0">About</a></li>
               
            <% if user_signed_in? %>
                <li class= "menu-item">
                    <%= current_user.role %>
                </li>                     
                <li class="menu-item">
                    <%= link_to current_user.email, edit_user_registration_path %>
                </li>           
                <li class="">
                    <%= button_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-sm btn-outline-secondary", style:"float:right; margin-top:25%"  %>
                </li>
            <% else %>
                <li class="menu-item"> 
                    <%= link_to "Sign Up", new_user_registration_path%>
                </li> 
                <li class="menu-item"> 
                    <%= link_to "Sign In", new_user_session_path %>
                </li> 
            <% end %>
       
      
  </ol>
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

  </ul>
  
</nav>