<%= form_with(model: continent) do |form| %>
  <% if continent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(continent.errors.count, "error") %> prohibited this continent from being saved:</h2>

      <ul>
        <% continent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_pl %>
    <%= form.text_field :name_pl %>
  </div>

  <div class="field">
    <%= form.label :name_en %>
    <%= form.text_field :name_en %>
  </div>

  <div class="field">
    <%= form.label :file_name %>
    <%= form.text_field :file_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
